* {
  font-family: 'Poppins', sans-serif;
  padding : 0;
  margin : 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100%;
  background-color: #ce3434;
}

/* Sidenav menu */
.sidenav {
  height: 100svh;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: +100%;
  background-color: #ffffff;
  padding-top: 60px;
  transition: left 0.5s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.burgermenu-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  gap: 35px;
}
  
/* Sidenav menu links */

.burgermenu-option {
  text-decoration: none;
  color: #818181;

  font-size: 1.9rem;

  transition: all, 0.3s;
}

.burgermenu-option:hover {
  color: #222222;
}
  
/* Close btn */
.close-button {
  position: absolute;
  top: 0;

  align-self: flex-end;

  display: flex;
  justify-content: center;
  align-items: center;


  width: 35px;
  height: 35px;
  overflow: hidden;

  margin: 30px;
}
  
/* Icône burger */
.burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

/* Active class */
.sidenav.active {
  left: 0;
}

.burgermenu-openbutton {
  margin-left: 97%;
  width: 3%;
  max-height: 35px;
  max-width: 35px;
  aspect-ratio: 1/1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.burgermenu-openbutton-image {
  width: 100%;
  height: 100%;
} 